.liquidityContainer {
    justify-content: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16171e;
    height: 100%;
    padding-top: 60px;
    padding-bottom: 20px;
}

.lp-reward {
    font-weight: 600;
    color: #FFC412;
    font-size: 18px;
}